
.login-form {
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 1px dashed black;
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
}